*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

.logoutNav : hover{
	font-weight:bold ;
	font-style: italic;
}

.colHomepage{
	background: #bdc3c7 ;
	justify-content: center;
	text-align: center;
	background-size: cover;
}

.title{
	font-family: 'Poppins', sans-serif;
	font-size: 100px;
	letter-spacing: 3px;
}

.title2{
	font-family:'Nunito', sans-serif ;
	font-size: 40px;
	letter-spacing: 5px;
}

.tagline{
	font-family: 'Nunito', sans-serif;
	letter-spacing: 5px;
	font-style: italic;
	font-size: 40px;
}




.cardHighlight{
	min-height: 100%;
	width: 300px ;
}

.registerForm{
	width: 50%;
	
}

